<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>
<% include menu %>
<div class="form-wrapper">
    <h1>プロフィールの編集</h1>
    <form action="/do_edit_profile" method="POST">
    <div align="center">
    <table border=1>
        <tr>
	    <th>UserName</th>
	    <td><%= userid %></td>
        </tr>
	<tr>
	    <th>introduction</th>
	    <td><%= intro %></td>
	    <td><input type="text" name="intro" id="intro"></td>
	</tr>
	<tr>
	    <th>birthday</th>
	    <td><%= month %>/<%= day %></td>
	    <td>
            <select name="month" id="month">
		<option value="">未選択</option>
		<script>
		    for(var i=1;i<=12;i++){
			document.write("<option value="+i+">"+i+"</option>");
		    }
		</script>
	    </select>
		/
	    <select name="day" id="day">
		<option value="">未選択</option>
	        <script>
		    for(var i=1;i<=31;i++) {
			document.write("<option value="+i+">"+i+"</option>");
		    }
	    	</script>
	    </select>
	    </td>
        </tr>
	<tr>
	    <th>hide</th>
	    <td><%= hide %></td>
	    <td>
	    <select name="hide" id="hide">
	        <option value="">未選択</option>
		<option value="ON">ON</option>
		<option value="OFF">OFF</option>
	    </select>
	    </td>
        </tr>
    </table>
    <div class="button-panel">
    <input type="submit" class="button" value="apply">
    </div>
    </form>
    <div class="form-footer">
    <a href="/profile">戻る</a>
    </div>
    </div>
</div>
</body>
</html>
	
