<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>
<% include menu %>
<div class="form-wrapper">
    <h1><%= userid %>のプロフィール</h1>
    <div align="center">
    <table border=1>
        <tr>
	    <th>UserName</th><td><%= userid %></td>
	</tr>
	<tr>
	    <th>introduction</th><td><%= intro %></td>
	</tr>
	<tr>
	    <th>birthday</th><td><%= month %>/<%= day %></td>
	</tr>
    </table>
    <div class="form-footer">
    <a href="/">トップへ戻る</a>
    </div>
    </div>
</div>
</body>
</html>
